<div class="px-4 py-1 my-3 text-center">
  <h1 class="display-5 fw-bold">Update profile:</h1><br>
<div class="col-lg-6 mx-auto">
<div class="dev_form">
  <%= form_with url: '/developer', method: :patch, local: true do |f| %>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= f.label :github %>
        <%= f.text_field :github, value: @developer.github %><br>
      </div>
      <div class="mb-3">
        <%= f.label :linkedin %>
        <%= f.text_field :linkedin, value: @developer.linkedin %><br>
      </div>
      <%= f.submit "Submit", class: "btn btn-success" %>
    </div>
  </div>
</div>

<% end %>
</div></div>
