<h1>Developer Index Page</h1>

<% @developers.each do |developer| %>
    <h3><%=developer.name %></h3>
    <p><%= mail_to(developer.email) %></p>
    <p><%= link_to("Linkedin", developer.linkedin) if developer.linkedin%></p>
    <p><%= link_to("Github", developer.github) if developer.github%></p>
    <p><%= link_to("User Dashboard", "/developer?user_id=#{developer.user_id}")%></p>
    
<% end %>
