<h1>Dev Show page</h1>
<h2> <%= "Welcome #{@user.name}" %> </h2>

<%= button_to "Edit Profile", developer_edit_path %>

<%= @projects.each do |project| %>
  <%= link_to project.name, project_path %>
  <%= project.description %>
<% end %>
