<head>
  <%= button_to "Edit Profile", developer_edit_path , method: :get %>
</head>
<div class="title">
  <h2> <%= "Welcome #{@user.name}" %> </h2>
  <span style='font-size:75px;'>&#128075;</span>
</div>

<div class="projects">
  <% if @projects != [] %>
    <% @projects.each do |project| %>
    <%= link_to project.project_name, "/project/#{project.id}" %>
    <%= project.description %>
    <% end %>
  <% end %>
  <%= link_to "View All Projects", projects_path %>
</div>

<div class="social">
  <% if @user.github != "" %>
    <%= link_to "Github", "#{@user.github}" %>
  <% end %>
  <% if @user.linkedin != "" %>
    <%= link_to "LinkedIn", "#{@user.linkedin}" %>
  <% end %>
</div>
