  <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
          <%= image_tag "logolong.png", height: 75 %>



        <div class="col-md-3 text-end">
          <% if session[:user_id] %>
            <a class="btn btn-success" href=<%='/'%>>Dashboard</a>
            <a class="btn btn-outline-success me-2" data-method= 'delete' href=<%=log_out_path%>>Log Out</a>
          <% else %>
            <a class="btn btn-outline-success me-2" href=<%=auth_google_oauth2_path%>>Log In</a>
            <a class="btn btn-success" href=<%=auth_google_oauth2_path%>>Sign Up</a>
          <% end %>
        </div>
      </header>
    </div>
